<!--file used to add new captions-->
<%if logged_in?%>
<div class="wrapper">
	<%=render "shared/adminMenu"%>
	<div class="row text-center">
		<h1 class="title">Edit Caption</h1>
	</div>
	<div class="row">
		<%=form_for :caption, url: caption_path(@edit_caption), method: 'patch' do |f|%>
			<%=f.label :section%><br>
			<%=f.select :section, options_for_select([["cover", 1], ["grants", 2], ["leadership", 3], ["donate", 4], ["news", 5 ]], @edit_caption.section)%><br>
			<%=f.label :title%>
			<%=f.text_field :title, value: @edit_caption.title, class: 'form-control'%>
			<%=f.label :content%>
			<%=f.text_area :content, value: @edit_caption.content, class: 'form-control'%><br>
			<%=f.submit 'Update Caption', class: 'btn btn-default'%>
		<%end%>
		<br>
		<%=form_for :caption, url: caption_path(@edit_caption), method: 'delete' do |f|%>
			<%=f.submit 'Delete Caption', class: 'btn btn-default', id: 'delete_button', data: {confirm: 'are you sure?'}%>
		<%end%>
	</div>
</div>
<%else%>
	<%=render 'shared/login'%>
<%end%>